@font-face {
    font-family: 'NK57 Monospace';
    font-weight: normal;
    font-style: normal;
    src: url("assets/nk57.otf");
}

@font-face {
    font-family: 'NK57 Monospace Bold';
    font-weight: normal;
    font-style: normal;
    src: url("assets/nk57-eb.otf");
}

@font-face {
    font-family: 'NK57 Monospace Condensed';
    font-weight: normal;
    font-style: normal;
    src: url("assets/nk57-cond.otf");
}

body {
    background-color: #202020;
    font-family: 'NK57 Monospace Condensed';
    font-size: 16px;
    color: white;
    margin: 0;
}

#title-bg {
    position: absolute;
    /*background-color: black;*/
    z-index: -1;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.5em;
    background-color: #303030;
    width: 100%;
    height: calc(32px * 1.2);
    position: fixed;
}

nav a {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5em 0.5em;
    color: white;
    background-color: none;
    text-decoration: none;
}

.nav-image {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
}

nav a:visited {
    color: white;
}

nav a:hover {
    background-color: #404040;
    cursor: pointer;
}

.highlight {
    color: black;
    background-color: white;
}

.highlight:hover {
    color: black;
    background-color: white;
}

.highlight:visited {
    color: black;
    background-color: white;
}

.center-h {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-group {
    margin-left: 2em;
}

.title {
    font-size: 64px;
    font-family: 'NK57 Monospace Bold';
}

.subtitle {
    color: #ffffff80;
}

.content {
    max-width: 60em;
    margin: 0 auto;
}

.section {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 2em 0;
    align-items: center;
}

.section p {
    flex-grow: 1;
}

.download-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: fit-content;
    margin: 0 auto;
}

.download-button {
    font-size: 20px;
    color: black;
    background-color: #777;
    padding: 0.5em;
    text-decoration: none;
}

.download-button:visited {
    color: black;
}

.anchor {
    position: relative;
    top: -32px;
    visibility: hidden;
    display: block;
}

h1, h2 {
    text-align: center;
    font-family: 'NK57 Monospace Bold';
}

p {
    margin: 0;
}

a {
    color: #0099ff;
}

a:visited {
    color: #bb66ff;
}
