name: Makefile CI

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    build-windows:
        name: Windows build
        runs-on: windows-latest

        defaults:
          run:
            shell: msys2 {0}

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
              with:
                submodules: recursive

            - name: Install dependencies
              uses: msys2/setup-msys2@v2
              with:
                msystem: UCRT64
                update: true
                install: >-
                    mingw-w64-ucrt-x86_64-gcc
                    mingw-w64-ucrt-x86_64-llvm
                    make
                    gettext

            - name: Setup windres
              run: |
                ln -sf "${MSYSTEM_PREFIX}/bin/windres.exe" "${MSYSTEM_PREFIX}/bin/x86_64-w64-mingw32-windres"

            - name: Build project (With compiler)
              run: |
                make clean
                make USE_COMPILER=TRUE TARGET=WINDOWS

            - name: Build project (With interpreter)
              run: |
                make clean
                make TARGET=WINDOWS

    build-linux:
        name: Linux build
        runs-on: ubuntu-22.04

        steps:
            - name: Checkout code
              uses: actions/checkout@v6
              with:
                submodules: recursive

            - name: Install dependencies
              run: |
                sudo apt-get update -y
                sudo apt-get install -y --no-install-recommends libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev gettext

            - name: Install LLVM
              run: |
                wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | gpg --dearmor -o llvm-snapshot.gpg
                sudo mv llvm-snapshot.gpg /etc/apt/trusted.gpg.d/
                sudo add-apt-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-19 main"
                sudo apt-get update -y
                sudo apt-get install -y --no-install-recommends llvm-19-dev

            - name: Build project (With compiler)
              run: |
                make clean
                make USE_COMPILER=TRUE LLVM_CONFIG=llvm-config-19

            - name: Build project (With interpreter)
              run: |
                make clean
                make
